<!DOCTYPE html>
<html lang="en" class="h-full">
{{template "head" .}}
<body class="h-full flex flex-col bg-gray-50">
    {{template "header" .}}

    <main class="flex-grow">
        {{template "content" .}}
    </main>

    {{template "footer" .}}
</body>
</html>
