name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
                ${{ secrets.DOCKERHUB_USERNAME }}/goblog:latest
                ${{ secrets.DOCKERHUB_USERNAME }}/goblog:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64

  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Create a new release
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Notify Go checksum database
      #   continue-on-error: true
      #   run: curl -sSf "https://sum.golang.org/lookup/github.com/harrydayexe/goblog@${{ github.ref_name }}"
